<link rel="stylesheet" href="https://bootswatch.com/4/simplex/bootstrap.min.css"/>
<link rel="stylesheet" href="styles/simplex-overrides.css"/>
<style>
body {
    font-size: 14pt;
    margin: 20px;
}

@media only screen and (min-width: 900px) {

    body {
        margin: 20px auto;
        max-width: 860px;
    }
}
</style>
